@{
    ViewData["Title"] = "Privacy";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Privacy</h1>
    <p> Privacy. </p>
    <p> 
        I don't know how to secure your data.
    </p>
</div>
